<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saichandra</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "vendors/@fortawesome/fontawesome-free/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/live-resume.css" %}">
</head>

<body style="zoom: 115%">
    <header>
        <button class="btn btn-white btn-share ml-auto mr-5 ml-md-5 mr-md-auto invisible"><img src="{% static "images/share.svg" %}" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="{% url 'projects' %}" class="nav-link active">PROJECTS</a>
            <a href="{% url 'blogs' %}" class="nav-link">BLOG</a>
            <a href="https://github.com/saichandrapandraju" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-linkedin-in"></i></a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static "images/hamburger.svg" %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">Gender and Age Prediction</h2>
            </section>
            <section class="contact-section">
                <form method="POST" class="contact-form" enctype="multipart/form-data">{% csrf_token %}
                    <div class="form-group" style="align-items: center;">
                        <label for="file_upload" class="sr-only">Input a human image</label>
                        <input type="file" class="form-control" name="file_upload" id="file_upload" required="true" data-input="false" data-iconName="fa fa-upload" data-buttonText="Upload File"/>
                    </div>
                    <button type="submit" class="btn btn-primary form-submit-btn">PREDICT</button>
                </form>
            </section>
            <form id="example_form" method="POST" class="contact-form" enctype="multipart/form-data" action="{% url 'projects:agender' %}">{% csrf_token %}
                <a href="#" onclick="document.forms['example_form'].submit();" > <img src="{% static "images/question.png" %}" alt="project" class="portfolio-item-img" style="width: 100px; height: 100px;"> </a>
                <!-- <button type="submit" class="btn btn-primary form-submit-btn">PREDICT</button> -->
            </form>
            {% if upload %}
                <h6 class="time-line-item-title">Predicted Gender : {{result.gender}}</h6><br>
                <h6 class="time-line-item-title">Predicted Age : {{result.age}}</h6><br>
            {% endif %}
            <section class="intro-section">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit cupiditate laboriosam voluptatum iste consectetur impedit, iusto illo vel? Voluptates voluptatem excepturi fugiat maxime voluptas, libero qui quis fugit suscipit reprehenderit.</p>
            </section>


            </main>
    </div>
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/@popperjs/core/dist/umd/popper-base.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/entry/jq.entry.min.js" %}"></script>
    <script src="{% static "js/live-resume.js" %}"></script>

</body>

</html>