<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saichandra</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "vendors/@fortawesome/fontawesome-free/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/live-resume.css" %}">
</head>

<body style="zoom: 115%">
    <header>
        <button class="btn btn-white btn-share ml-auto mr-5 ml-md-5 mr-md-auto invisible"><img src="{% static "images/share.svg" %}" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="{% url 'projects' %}" class="nav-link active">PROJECTS</a>
            <a href="{% url 'blogs' %}" class="nav-link">BLOG</a>
            <a href="https://github.com/saichandrapandraju" class="nav-link" style="font-size:15px"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saichandra-pandraju/" class="nav-link" style="font-size:15px"><i class="fab fa-linkedin-in"></i></a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static "images/hamburger.svg" %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">PROJECTS</h2>
                
                <div class="portfolio-wrapper">
                    <figure class="portfolio-item hover-box">
                        <a href="{% url 'projects:qgen' %}"><img src="{% static "images/question.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 01</h5>
                            <p class="portfolio-item-description">Question Generator</p>
                        </figcaption></a>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <a href="{% url 'projects:traffic' %}"><img src="{% static "images/traffic.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 02</h5>
                            <p class="portfolio-item-description">Traffic Sign Recognition</p>
                        </figcaption></a>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="{% static "images/img_3.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 03</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="{% static "images/img_4.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 04</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="{% static "images/img_5.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 05</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="{% static "images/img_6.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 06</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="{% static "images/img_7.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 07</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                    <figure class="portfolio-item hover-box">
                        <img src="{% static "images/img_8.png" %}" alt="project" class="portfolio-item-img">
                        <figcaption class="portfolio-item-details overlay">
                            <h5 class="portfolio-item-title">PROJECT 08</h5>
                            <p class="portfolio-item-description">Branding, Photography</p>
                        </figcaption>
                    </figure>
                </div>

            </section>
            </main>
    </div>
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/@popperjs/core/dist/umd/popper-base.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/entry/jq.entry.min.js" %}"></script>
    <script src="{% static "js/live-resume.js" %}"></script>

</body>

</html>