<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saichandra</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "vendors/@fortawesome/fontawesome-free/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/live-resume.css" %}">
</head>

<body style="zoom: 115%">
    <header>
        <button class="btn btn-white btn-share ml-auto mr-5 ml-md-5 mr-md-auto invisible"><img src="{% static "images/share.svg" %}" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="{% url 'projects' %}" class="nav-link active">PROJECTS</a>
            <a href="{% url 'blogs' %}" class="nav-link">BLOGS</a>
            <a href="https://github.com/saichandrapandraju" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-linkedin-in"></i></a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static "images/hamburger.svg" %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <main>
            <section class="portfolio-section">
                <h2 class="section-title">Question Generator</h2>
            </section>
            <section class="intro-section">
                <p>Given some context and answer, I can generate a question for ya!!! Wanna try once ? Go ahead and click 'GENERATE QUESTION'... </p>
                <p>This is based only on text but by integrating these kind of models with variety of data (eg. tables, <a href="https://doi.org/10.3991/ijet.v16i18.25121" target="_blank">here's</a> my work), you can create Automatic Question Generation (AQG) systems that can benefit many domains.</p>
            </section>
            <section class="contact-section">
                <form method="POST" class="contact-form" id="qgen_form">{% csrf_token %}
                        <div class="form-group">
                            <!-- <p> <strong>CONTEXT:</strong></p> -->
                            <!-- <label for="context" class="sr-only">Context</label> -->
                            CONTEXT: <textarea name="context" id="context" class="form-control" placeholder="CONTEXT*" rows="5" required="true">The encoder block has two sub-layers. The first is a multi-head self-attention mechanism, and the second is a simple, position-wise fully connected feed-forward network.</textarea>
                        </div>
                        <div class="form-group form-group-name">
                            <!-- <p> <strong>ANSWER:</strong></p> -->
                            <!-- <label for="answer" class="sr-only">Answer</label> -->
                            ANSWER: <input type="text" name="answer" id="answer" class="form-control" placeholder="ANSWER*" required="true" value="position-wise fully connected feed-forward network">
                        </div>
                        <div>
                            <br>
                            <button type="submit" class="btn btn-primary form-submit-btn" >GENERATE QUESTION</button>
                        </div>
                        
                    </form>
            </section>
            <div class="loader" id="loader"></div>
            <p style="font-size: 10px;" id="time">This may take a minute...</p>
            <h5 class="time-line-item-title" id="output"></h5><br>

            


            </main>
    </div>
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/@popperjs/core/dist/umd/popper-base.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "vendors/entry/jq.entry.min.js" %}"></script>
    <script src="{% static "js/live-resume.js" %}"></script>
    <script src="{% static "js/qgen.js" %}"></script>

</body>

</html>