Django==3.2.4
sentencepiece==0.1.95
tensorflow-cpu==2.5.0
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
tqdm==4.61.0
transformers==4.6.1
wget==3.2
opencv-python==4.5.2.54
Pillow==8.2.0