<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saichandra</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "vendors/@fortawesome/fontawesome-free/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/live-resume.css" %}">
</head>

<body style="zoom: 115%">
    <header>
        <button class="btn btn-white btn-share ml-auto mr-5 ml-md-5 mr-md-auto invisible"><img src="{% static "images/share.svg" %}" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link active">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="{% url 'projects' %}" class="nav-link">PROJECTS</a>
            <a href="{% url 'blogs' %}" class="nav-link">BLOGS</a>
            <a href="https://github.com/saichandrapandraju" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-linkedin-in"></i></a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static "images/hamburger.svg" %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
    <main>
            <section class="intro-section">
                <h2 class="section-title" style="color: #007bff;">Hello, Welcome to my portfolio!</h2>
                <h5>I'm Sai Chandra Pandraju, an ML Researcher and Software Developer.</h5><br>
                <p style="font-size: medium;">Currently I'm working full-time on ML Research in the areas of NLP & NLU (Natural Language Processing and Understanding) at Infosys R&D. Typical responsibilities of my current role involves solving NLP problems with State-Of-The-Art ML models and incorporating these solutions into software applications. Previously I worked as a Full Stack Developer with proficiency in Java(SpringBoot), Typescript(Angular) and MySql among others. </p>
                <p style="font-size: medium;">You can find more about me in this site along with my personal projects! This site is a Django application that I created as part of my learning exercise and I integrated some of my fun ML projects I did in undergrad. If you want to know the professional projects I worked on, feel free to check my <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank">LinkedIn</a> profile.</p>
                <p>If you are interested in hiring me or have an ML project idea, feel free to reach out to me via <a href="mailto:saichandrapandraju@gmail.com">Gmail</a> or <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank">LinkedIn</a>.</p>
                <p><em>Note: </em>I got a bit busy these days due to application process(secret for now) and hectic work schedule. So I won't be able to update this site often. But once I get free, I'll add more interesting projects and blogs.</p>
            </section>
            
        </main>
    </div>
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/@popperjs/core/dist/umd/popper-base.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/live-resume.js" %}"></script>
</body>

</html>
