<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saichandra</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "vendors/@fortawesome/fontawesome-free/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/live-resume.css" %}">
</head>

<body style="zoom: 115%">
    <header>
        <button class="btn btn-white btn-share ml-auto mr-5 ml-md-5 mr-md-auto invisible"><img src="{% static "images/share.svg" %}" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link active">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link">RESUME</a>
            <a href="{% url 'projects' %}" class="nav-link">PROJECTS</a>
            <a href="{% url 'blogs' %}" class="nav-link">BLOG</a>
            <a href="https://github.com/saichandrapandraju" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-linkedin-in"></i></a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static "images/hamburger.svg" %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
    <main>
            <section class="intro-section">
                <h2 class="section-title" style="color: #007bff;">Hello, Welcome to my portfolio!</h2>
                <h5>I'm Saichandra Pandraju, an independent ML Researcher and Software Developer.</h5>
                <p style="font-size: medium;">Currently I'm working full-time on ML Research in the areas of Natural Language Processing and AI for Code at Infosys R&D. Previously I worked as a Full Stack Developer with proficiency in Java(SpringBoot), Typescript(Angular) and MySql among others. Typical responsibilities of my current role involves solving NLP problems with State-Of-The-Art ML models and incorporating these solutions into Software applications.</p>
                <p style="font-size: medium;">You can find more about me in this site along with my personal side projects!! These projects (including this site) were developed whenever I got time from my always hectic work and built with KISS(Keep It Simple,Stupid) strategy in mind.</p>
                <p>If you are interested in hiring me or have an ML project idea, feel free to reach out to me via <a href="mailto:saichandrapandraju@gmail.com">Gmail</a> or <a href="https://www.linkedin.com/in/saichandra-pandraju/">LinkedIn</a>.</p>
                <!-- <a href="#!" class="btn btn-primary btn-hire-me">HIRE ME</a> -->
            </section>
            <!-- <section class="resume-section">
                <div class="row">
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">EDUCATION</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">1998 - 2005</span>
                                <h6 class="time-line-item-title">Master In Computer Science</h6>
                                <p class="time-line-item-subtitle">MASTER, UNIVERSITY</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed tortor.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">1995 - 1998</span>
                                <h6 class="time-line-item-title">Studied at Harvard University</h6>
                                <p class="time-line-item-subtitle">UNIVERSITY</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed tortor.
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">1993 - 1995</span>
                                <h6 class="time-line-item-title">Studied at Oxford University</h6>
                                <p class="time-line-item-subtitle">UNIVERSITY</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed tortor.
                                </p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h6 class="section-subtitle">RESUME</h6>
                        <h2 class="section-title">Experience</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2010 - 2014</span>
                                <h6 class="time-line-item-title">UI/UX Designer</h6>
                                <p class="time-line-item-subtitle">Web Agency</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2008 - 2010</span>
                                <h6 class="time-line-item-title">Web Designer</h6>
                                <p class="time-line-item-subtitle">Apple Inc.</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.
                                </p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2006 - 2008</span>
                                <h6 class="time-line-item-title">Graphic Designer</h6>
                                <p class="time-line-item-subtitle">Apple Inc.</p>
                                <p class="time-line-item-content">Mauris magna sapien, pharetra consectetur fringilla
                                    vitae, interdum sed
                                    tortor.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </section> -->
            
        </main>
    </div>
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/@popperjs/core/dist/umd/popper-base.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/live-resume.js" %}"></script>
</body>

</html>