<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Saichandra</title>
    <link href="https://fonts.googleapis.com/css?family=Mukta:300,400,500,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static "vendors/@fortawesome/fontawesome-free/css/all.min.css" %}">
    <link rel="stylesheet" href="{% static "css/live-resume.css" %}">
</head>

<body style="zoom: 115%">
    <header>
        <button class="btn btn-white btn-share ml-auto mr-5 ml-md-5 mr-md-auto invisible"><img src="{% static "images/share.svg" %}" alt="share" class="btn-img">
            SHARE</button>
        <nav class="collapsible-nav" id="collapsible-nav">
            <a href="{% url 'index' %}" class="nav-link">HOME</a>
            <a href="{% url 'resume' %}" class="nav-link active">RESUME</a>
            <a href="{% url 'projects' %}" class="nav-link">PROJECTS</a>
            <a href="{% url 'blogs' %}" class="nav-link">BLOGS</a>
            <a href="https://github.com/saichandrapandraju" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/saichandra-pandraju/" target="_blank" class="nav-link" style="font-size:15px"><i class="fab fa-linkedin-in"></i></a>
        </nav>
        <button class="btn btn-menu-toggle btn-white rounded-circle" data-toggle="collapsible-nav"
            data-target="collapsible-nav"><img src="{% static "images/hamburger.svg" %}" alt="hamburger"></button>
    </header>
    <div class="content-wrapper">
        <main>
            <section class="resume-section">
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-title">EDUCATION</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2015 - 2019</span>
                                <h6 class="time-line-item-title">Bachelor of Technology in Electronics and Communications Engineering</h6>
                                <p class="time-line-item-subtitle"><strong>QIS College of Engineering & Technology, Ongole, affiliated to JNTU Kakinada, India</strong></p>
                                <p class="time-line-item-content"><strong>GRADE : 9.138/10</strong></p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2013 - 2015</span>
                                <h6 class="time-line-item-title">Senior Secondary in Maths, Physics & Chemistry</h6>
                                <p class="time-line-item-subtitle"><strong>Sri Vani Junior College, Chirala, India</strong></p>
                                <p class="time-line-item-content"><strong>GRADE : 97.9%</strong></p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2012 - 2013</span>
                                <h6 class="time-line-item-title">Secondary School</h6>
                                <p class="time-line-item-subtitle"><strong>Vedamatha E.M School, Chirala, India</strong></p>
                                <p class="time-line-item-content"><strong>GRADE : 9.8/10</strong></p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="section-title">Experience</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <span class="badge badge-primary">2021/Oct - Present</span>
                                <h6 class="time-line-item-title">Senior Systems Engineer - Machine Learning</h6>
                                <p class="time-line-item-subtitle"><strong>Infosys R&D (iCETS)</strong></p>
                                <p class="time-line-item-content">Developing a Visual Studio Code extension for assisting Infosys developers with code suggestions for a whole line or entire functions, code translation, and code summarization.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2020/Dec - 2021/Oct</span>
                                <h6 class="time-line-item-title">Systems Engineer - Machine Learning</h6>
                                <p class="time-line-item-subtitle"><strong>Infosys R&D (iCETS)</strong></p>
                                <p class="time-line-item-content">Worked on Deep Learning NLP/NLU and made Infosys among top 10 in <a href="https://super.gluebenchmark.com/leaderboard" target="_blank">SuperGLUE</a> and also worked on Question Generation, 
                                    Policy Chatbot, Few-Shot Bio-medical Relation Extraction, Explainability and CodeBot(using ML for code related tasks).</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2019/Dec - 2020/Dec</span>
                                <h6 class="time-line-item-title">Systems Engineer</h6>
                                <p class="time-line-item-subtitle"><strong>Infosys R&D (iCETS)</strong></p>
                                <p class="time-line-item-content">Worked on Full-Stack web development using Angular, Spring Boot and MySQL. Also worked on building ML pipelines for classification, clustering and forecasting as part of our product.</p>
                            </li>
                            <li class="time-line-item">
                                <span class="badge badge-primary">2019/Aug - 2019/Dec</span>
                                <h6 class="time-line-item-title">Systems Engineer Trainee</h6>
                                <p class="time-line-item-subtitle"><strong>Infosys</strong></p>
                                <p class="time-line-item-content">Trained in JAVA EE, Angular, Python, MySQL, Data Structures & Algorithms. Built a 'Travel Booking Site' from scratch and led my team to be in top 3% for this final project. I completed the training as a Top Performer and selected to elite R&D department in Infosys(iCETS).</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-title">SKILL SET</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <h6 class="time-line-item-title">Programming Languages: <p class="time-line-item-subtitle" style="display:inline"><strong>Python, Java, C, TypeScript, HTML, CSS, JavaScript</strong></p></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title">Frameworks: <p class="time-line-item-subtitle" style="display:inline"><strong>Django, Flask, SpringBoot, Angular, Bootstrap</strong></p></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title">Libraries: <p class="time-line-item-subtitle" style="display:inline"><strong>TensorFlow, PyTorch, Scikit-Learn, Transformers, DeepSpeed</strong></p></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title">DataBases: <p class="time-line-item-subtitle" style="display:inline"><strong>MySQL, SQLite</strong></p></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title">Others: <p class="time-line-item-subtitle" style="display:inline"><strong>GIT, Pandas, NumPy, Matplotlib, MLFlow, Docker</strong></p></h6>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="section-title">AWARDS</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://www.linkedin.com/in/saichandra-pandraju/detail/overlay-view/urn:li:fsd_profileTreasuryMedia:(ACoAABzvfQsBmGTjQMA7t7UCPyLTJXVzn3iBCso,1635468235305)/" target="_blank">INSTA Award for ML Research</a></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://www.linkedin.com/in/saichandra-pandraju/detail/overlay-view/urn:li:fsd_profileTreasuryMedia:(ACoAABzvfQsBmGTjQMA7t7UCPyLTJXVzn3iBCso,1598868282927)/" target="_blank">INSTA Award for Full Stack Development</a></h6>
                            </li>
                        </ul>
                        <h2 class="section-title">RESEARCH</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://doi.org/10.3991/ijet.v16i18.25121" target="_blank">Answer-Aware Question Generation from Tabular and Textual Data using T5</a></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://doi.org/10.18280/ria.350509" target="_blank">Unsupervised Convolutional Filter Learning For COVID-19 Classification</a></h6>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="section-title">CERTIFICATIONS and SPECIALIZATIONS</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://www.credential.net/842c62f5-3f3b-43f4-bde4-6c2fc96f87bc" target="_blank">TensorFlow Certified Developer</a></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/EU8YRNXXWDWV" target="_blank">Mathematics for Machine Learning Specialization</a></h6>
                            </li>
                            <!-- <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/JJ62NQS5R7EP" target="_blank">TensorFlow Specialization</a></h6>
                            </li> -->
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <h2 class="section-title invisible">SPECIALIZATIONS</h2>
                        <ul class="time-line">
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="https://www.coursera.org/account/accomplishments/specialization/certificate/CZ46FBRUWD7M" target="_blank">Deep Learning Specialization</a></h6>
                            </li>
                            <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="http://ude.my/UC-154130bc-0909-42db-ac64-a3285dea5ee1" target="_blank">Machine Learning A-Z™: Hands-On Python & R In Data Science</a></h6>
                            </li>
                            <!-- <li class="time-line-item">
                                <h6 class="time-line-item-title"><a href="http://ude.my/UC-b83f7da9-9178-48d7-a1bf-80db1f277997P">Face Recognition Web App with Machine Learning in Flask [Jun-2020]</a></h6>
                            </li> -->
                        </ul>
                    </div>
                </div>
                <p><a href="{% static "resume/saichandra_cv.pdf" %}" download="saichandra_cv">Click here</a> to download my CV.</p>
            </section>
        </main>
    </div>
    <script src="{% static "vendors/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "vendors/@popperjs/core/dist/umd/popper-base.min.js" %}"></script>
    <script src="{% static "vendors/bootstrap/dist/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/live-resume.js" %}"></script>
</body>

</html>
